# For testing lita/squirrel
creds.env

# Terraform plans
*.tfplan
*.tfstate
*.tfstate.backup
*.backup

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.slsc

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pylint.d/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Virtualenv
venv/
.venv/

# Editor ignores

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*
flycheck_*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# vim ignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# vscode ignore
.vscode

# terraform
*.terraform/
.terraform.lock.hcl
.terragrunt-cache
.terraform.tfstate.lock.info

bazel-*

# macOS
**/.DS_Store

# pyenv and similar that use the version file.
.python-version

.idea/

# megalinter reports
report/

#temp
test.json